/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
  /* debug */
  border: 1px solid black;
  height: 100%;
}

/* UTILS */

.d-flex{
  display: flex;
}

.s-between{
  justify-content: space-between;
}

.align-i-center{
  align-items: center;
}

.t-center{
  text-align: center;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;

}


/* HEADER  */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 70px;
  width: 100%;
  background-color: #0084fd;
}

header nav{
  display: none;
}

header nav ul li{
  display: inline-block;
}

header .icon{
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
}




/* MAIN  */

section{
  /* debug */
  min-height: 100px;
}

section:nth-child(even){
  background-color: #9792e4;
}

.row{

}

.col{
  width: 100%;
  /* debug */

  height: 200px;
  background-color: #b5ddff;
  border: 1px solid black;
}

/* JUMBO  */

.container.jumbo{
  margin-top: 70px;
}


/* PLANNING  */

.planning .left .image{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.planning .left .text{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.planning .right .image{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}


/* ABOUT-US */

.about-us .left .text{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.about-us .right .image{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.about-us .right .text{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

/* GET-STARTED */









/* FOOTER  */

footer{
  background-color: #333;
  /* debug */
  height: 50px;
}






/* RESPONSIVE */

/* TABLET */

@media screen and (min-width:550px) {
  .jumbo .row{
    display: flex;
    flex-wrap: wrap;
  }

  .jumbo .col.big{
    width: calc(100% / 3 * 2);
  }
  
  .jumbo .col{
    width: calc(100% / 3);
  }

  .testimonials .row .col{
    display: flex;
    /* debug */
    justify-content: space-between;
  }

  .benefits .row{
    display: flex;
    flex-wrap: wrap;
  }

  .benefits .row .col{
    width: 50%;
  }

  .about-us{
    display: flex;
  }

  .about-us .left{
    width: 60%;
  }

  .about-us .right{
    width: 40%;
  }

  .container.get-started, footer .container{
    width: 500px;
  }


}



/* DESKTOP */

@media screen and (min-width:1200px) {
  .container{
    width: 1140px;
  }
  
  header nav{
    display: block;
  }

  header .icon{
    display: none;
  }

  .planning{
    display: flex;
  }
  
  .planning .left, .planning .right{
    width: 50%;
  }

  .benefits .row .col{
    width: calc(100% / 3);
  }

  
}