/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
  /* debug */
  /* border: 1px solid black; */
  height: 100%;
}

/* UTILS */

.d-flex{
  display: flex;
}

.s-between{
  justify-content: space-between;
}

.align-i-center{
  align-items: center;
}

.t-center{
  text-align: center;
}

h2{
  font-size: 2.5rem;
  font-weight: 900;
}

h3{
  font-size: 1.8rem;
  font-weight: 900;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.m-btm-1rem{
  margin-bottom: 1rem;
}


/* HEADER  */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 70px;
  width: 100%;
  background-color: #0084fd;
}

header nav{
  display: none;
}

header nav ul li{
  display: inline-block;
}

header .icon{
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* FINE HEADER  */


/* MAIN  */

section{
  /* debug */
  min-height: 100px;
}

section:nth-child(even){
  background-color: #9792e4;
}

.row{

}

.col{
  width: 100%;
  /* debug */
  /* height: 200px; */
  /* background-color: #b5ddff; */
  /* border: 1px solid black; */
}

/* JUMBO  */

.container.jumbo{
  margin: 90px auto;
}

.jumbo .card{
  margin: 20px 10px;
  border-radius: 20px;
  background-color: #b5ddff;
  padding: 20px 20px 0;
}

.jumbo .card:not(.col.big .card){
  text-align: center;  
  padding-bottom: 2rem;
}

.jumbo .card i:not(button i){
  font-size: 3rem;
  color: #0084fd;

}

.jumbo h3{
  color: #0084fd;
  margin: 1rem 0;
}

.jumbo p{
  line-height: 2rem;
}

.jumbo button{
  color: white;
  background-color: #0084fd;
  border: none;
  padding: 10px 60px;
  border-radius: 20px;
}

.jumbo button i{
  margin-right: 10px;
}

.jumbo .col.big .image{
  width: 250px;
  margin: 0 auto;
}

.jumbo .col.big .image img{
  width: 100%;
}

/* PLANNING  */

.planning{
  padding: 80px 0;
  color: white;
}

.planning .image{
  width: 100%;
}

.planning .image img{
  width: 100%;
  object-fit: cover;
}

.planning h2{
  margin: 4rem 0;
}

.planning p{
  line-height: 2rem;
}

.planning .right{
  padding: 20px 10px;
  background-color: white;
  border-radius: 60px;
  text-align: center;
}

.planning .right .text{
  color: black;
}

.planning .right h3{
  margin: 2rem 0;
}

.planning .right i{
  font-size: 1.5rem;
  padding: 30px 35px;
  border-radius: 50%;
  background-color: #9792e4;
}

/* ABOUT-US */

.about-us .left .text{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.about-us .right .image{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.about-us .right .text{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

/* GET-STARTED */









/* FOOTER  */

footer{
  background-color: #333;
  /* debug */
  height: 50px;
}






/* RESPONSIVE */

/* TABLET */

@media screen and (min-width:550px) {
  /* JUMBO  */
  .jumbo .row{
    display: flex;
    flex-wrap: wrap;
  }

  .jumbo .col.big{
    width: calc(100% / 3 * 2);
  }
  
  .jumbo .col{
    width: calc(100% / 3);
  }

  .jumbo .col.big .image{
    margin: 0;
  }

  .jumbo .col{
    display: flex;
  }

  .jumbo .card{
    margin: 10px;
  }

  /* PLANNING  */

  .planning{
  
  }

  /* TESTIMONIALS  */
  .testimonials .row .col{
    display: flex;
    /* debug */
    justify-content: space-between;
  }

  /* BENEFITS  */

  .benefits .row{
    display: flex;
    flex-wrap: wrap;
  }

  .benefits .row .col{
    width: 50%;
  }

  /* ABOUT-US  */

  .about-us{
    display: flex;
  }

  .about-us .left{
    width: 60%;
  }

  .about-us .right{
    width: 40%;
  }

  /* GET-STARTED  */

  .container.get-started, footer .container{
    width: 500px;
  }


}



/* DESKTOP */

@media screen and (min-width:1200px) {
  .container{
    width: 1140px;
  }
  
  header nav{
    display: block;
  }

  header .icon{
    display: none;
  }

  .jumbo .col.big .card{
    display: flex;
  }

.jumbo .card .text{
  width: 50%;
}
  /* PLANNING  */

  .planning{
    display: flex;
    width: 800px;
  }
  
  .planning .left, .planning .right{
    width: 50%;
    margin: 0 30px;
  }

  .planning .right{
    height: ;
  }
  
  /* TESTIMONIALS  */

  /* BENEFITS  */

  .benefits .row .col{
    width: calc(100% / 3);
  }

  /* ABOUT-US  */

  /* GET-STARTED  */
  
}