/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  margin: 0 auto;
  /* debug */
  border: 1px solid black;
  height: 100%;
}

/* UTILS */

.d-flex{
  display: flex;
}

/* HEADER  */

header{
  /* position: fixed; */
  height: 70px;
  background-color: #0084fd;
}



/* MAIN  */

section{
  /* debug */
  min-height: 100px;
}

section:nth-child(even){
  background-color: #9792e4;
}

.row{

}

.col{
  width: 100%;
  /* debug */

  height: 200px;
  background-color: #b5ddff;
  border: 1px solid black;
}

/* PLANNING  */

.planning .left .image{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.planning .left .text{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}

.planning .right .image{
  /* debug */
  height: 200px;
  background-color: white;
  border: 1px solid black;
}













/* FOOTER  */

footer{
  background-color: #333;
  /* debug */
  height: 50px;
}






/* RESPONSIVE */

/* TABLET */

@media screen and (min-width:600px) {
  .jumbo .row{
    display: flex;
    flex-wrap: wrap;
  }

  .jumbo .col.big{
    width: calc(100% / 3 * 2);
  }
  
  .jumbo .col{
    width: calc(100% / 3);
  }


}



/* DESKTOP */

@media screen and (min-width:1200px) {
  .container{
    width: 1140px;
  }  

  .planning{
    display: flex;
  }
  
  .planning .left, .planning .right{
    width: 50%;
  }
  
}